.homeMain {
  height: 100%;
  flex-grow: 1;
}
.homeContentContainer {
  height: 100%;
  flex-grow: 1;
  color: #3fcc49;
  border-style: none solid solid none;
  border-width: 0 1px 1px 0;
}
.homeImage {
  height: 100%;
  width: 320px;
  border-radius: 2px;
  /* position: absolute; */
  object-fit: cover;
  object-position: -300px 0px;
}
.homeImageContainer {
  justify-content: center;
}
.homeTextContainer {
  height: 100%;
  color: #45884a;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.homeTextContainerAligner {
  height: 90%;
  justify-content: center;
}
.titleDescription {
  /* color: #45884a; */
  color: #196e1f;
}
.listTechnologies {
  width: 130px;
}
.homeDetailContainer {
  margin: 1rem 0 0 0;
}
.techListsContainer {
  margin: 0.5rem 0 0 1rem;
}
.navigationHome {
  align-self: flex-end;
  margin-top: 1rem;
}
.divBikeImage {
  flex-grow: 1;
  margin: 0 1rem 1rem 0;
}
.bikeImage {
    width: 100%;
}
